<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img
        class="d-block w-100"
        src="/assets/images/dog.jpg"
        style="display: cover;"

        alt="First slide"
      />
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Light mask</h3>
      <p>First text</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img
        class="d-block w-100"
        src="/assets/images/test_2.jpg"
        style="display: flex;"

        alt="Second slide"
      />
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Strong mask</h3>
      <p>Secondary text</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img
        class="d-block w-100"
        src="/assets/images/test_1.jpg"
        style="display: flex;"
        alt="Third slide"
      />
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Slight mask</h3>
      <p>Third text</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<section class="cta">
  <div class="container">
    <div class="cta-block row no-gutters">
      <div class="col-lg-4 col-md-6 emmergency item">
        <i class="fa fa-phone"></i>
        <h2>Emegency Cases</h2>
        <a href="tel:1-800-700-6200">1-800-700-6200</a>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
      <div class="col-lg-4 col-md-6 top-doctor item">
        <i class="fa fa-stethoscope"></i>
        <h2>24 Hour Service</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore
          dignissimos officia dicta suscipit vel eum
        </p>
        <a href="service.html" class="btn btn-main">Read more</a>
      </div>
      <div class="col-lg-4 col-md-12 working-time item">
        <i class="fa fa-hourglass-o"></i>
        <h2>Working Hours</h2>
        <ul class="w-hours">
          <li>Mon - Fri - <span>8:00 - 17:00</span></li>
          <li>Mon - Fri - <span>8:00 - 17:00</span></li>
          <li>Mon - Fri - <span>8:00 - 17:00</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="feature-section section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="image-content">
          <div class="section-title text-center">
            <h3>Best Features <span>of Our Hospital</span></h3>
            <p class="mb-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
              magni in at debitis <br />
              nam error officia vero tempora alias? Sunt?
            </p>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="item">
                <div class="icon-box">
                  <figure>
                    <a href="services.html"
                      ><img
                        loading="lazy"
                        src="/assets/images/logo.png"
                        alt="features image"
                    /></a>
                  </figure>
                </div>
                <h3 class="mb-2">Orthopedics</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                  ducimus veniam illo quibusdam pariatur ex sunt, est aspernatur
                  at debitis eius vitae vel nostrum dolorem labore autem
                  corrupti odit mollitia?
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="item">
                <div class="icon-box">
                  <figure>
                    <a href="services.html">
                      <img
                        loading="lazy"
                        src="/assets/images/logo.png"
                        alt="features image"
                      />
                    </a>
                  </figure>
                </div>
                <h3 class="mb-2">Diaginostic</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                  ducimus veniam illo quibusdam pariatur ex sunt, est aspernatur
                  at debitis eius vitae vel nostrum dolorem labore autem
                  corrupti odit mollitia?
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="item">
                <div class="icon-box">
                  <figure>
                    <a href="services.html">
                      <img
                        loading="lazy"
                        src="/assets/images/logo.png"
                        alt="features image"
                      />
                    </a>
                  </figure>
                </div>
                <h3 class="mb-2">Psycology</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                  ducimus veniam illo quibusdam pariatur ex sunt, est aspernatur
                  at debitis eius vitae vel nostrum dolorem labore autem
                  corrupti odit mollitia?
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="item">
                <div class="icon-box">
                  <figure>
                    <a href="services.html">
                      <img
                        loading="lazy"
                        src="/assets/images/logo.png"
                        alt="features image"
                      />
                    </a>
                  </figure>
                </div>
                <h3 class="mb-2">General Treatment</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                  ducimus veniam illo quibusdam pariatur ex sunt, est aspernatur
                  at debitis eius vitae vel nostrum dolorem labore autem
                  corrupti odit mollitia?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
